.header {
	overflow: hidden;
	background-color: #343a40;
	padding: 20px 10px;
	max-width: 100%;
	color: white;
	font-weight: bold;
}

.headerTitle {
	font-size: 25px;
	margin-left: 45px;
	position: absolute;
	float: right;
}

.about {
	display: inline-block;
	float: right;
	padding-top: 10px;
	padding-right: 20px;
}

.resize {
	max-width: 3%;
	height: auto;
	position: absolute;
}
